	body {
        font-family: "Lato", sans-serif;
        transition: background-color .5s;
      }

      .sidebar {
        list-style-type: none;
        min-height: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
		background-color: #FFFFFF;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
		/* box-shadow: 0px 4px 25px 0px rgb(0 0 0 / 25%); */
		text-decoration: none;
      }

      .sidebar .tdkpilih {
        padding: 8px 8px 8px 20px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
      }

      .sidebar .tdkpilih:hover {
		margin-left: 15px;
      }

      .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: #3BDDAC;
        border: none;
		font-size: 27pt;
		margin-left: 5px;
		background-color: #FFFFFF;
      }

      .openbtn:hover {
		color: #16A38A;
      }
	  
	  .header{
		margin: 10px 0 40px 0;
		background-color: #FFFFFF;
		box-shadow: 0px 4px 25px 0px rgb(0 0 0 / 15%);
		border-radius: 7px;
		padding: 15px;
	  }
	  
	  .dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		padding: 10px 5px;
  		z-index: 1;
		text-align: center;
		vertical-align: middle;
        cursor: pointer;
		width: 140px;
		height: 45px;
		border-radius: 3px;
	  }
	  
	  .dropdown-content:hover{
	    background-color: #16A38A;
	  }
		
	  .modal-confirm {		
	    color: #636363;
	    width: 400px;
	  }
	  
	  .modal-confirm .modal-content {
	  	padding: 20px;
	  	border-radius: 5px;
	  	border: none;
	  	text-align: center;
	  	font-size: 14px;
	  }
	  
	  .modal-confirm .modal-header {
	  	border-bottom: none;   
	  	position: relative;
	  }
	  
	  .modal-confirm h4 {
	  	text-align: center;
	  	font-size: 26px;
	  	margin: 30px 0 -10px;
	  }
	  
	  .modal-confirm .close {
	  	position: absolute;
	  	top: -5px;
	  	right: -2px;
	  }
	  
	  .modal-confirm .modal-body {
	  	color: #999;
	  }
	  
	  .modal-confirm .modal-footer {
	  	border: none;
	  	text-align: center;		
	  	border-radius: 5px;
	  	font-size: 13px;
	  	padding: 10px 15px 25px;
	  }
	  
	  .modal-confirm .modal-footer a {
	  	color: #999;
	  }		
	  
	  .modal-confirm .icon-box {
	  	width: 80px;
	  	height: 80px;
	  	margin: 0 auto;
	  	border-radius: 50%;
	  	text-align: center;
	  	border: 3px solid #f15e5e;
	  }
	  
	  .modal-confirm .icon-box i {
	  	color: #f15e5e;
	  	font-size: 46px;
	  	display: inline-block;
	  	margin-top: 13px;
	  }
	  
	  .modal-confirm .btn, .modal-confirm .btn:active {
	  	color: #fff;
	  	border-radius: 4px;
	  	background: #60c7c1;
	  	text-decoration: none;
	  	transition: all 0.4s;
	  	line-height: normal;
	  	min-width: 120px;
	  	border: none;
	  	min-height: 40px;
	  	border-radius: 3px;
	  	margin: 0 5px;
	  }
	  
	  .modal-confirm .btn-secondary {
	  	background: #c1c1c1;
	  }
	  
	  .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	  	background: #a8a8a8;
	  }
	  
	  .modal-confirm .btn-danger {
	  	background: #f15e5e;
	  }
	  
	  .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	  	background: #ee3535;
	  }
	  
	  .logo{
	    position: absolute;
        top: 32px;
        right: 255px;
        font-size: 36px;
	  }
	  
	  .lms{
        right: 88px;
		color: #3F51B5;
		font-size: 18pt;
		font-family: arial;
		font-weight: bold;
	  }
	  
	  .batas{
		margin: 30px 0px 0px 10px;
		font-size: 16pt;
		font-family: arial;
		color: #626262;
	  }
	  
	  .terpilih{
		/* box-shadow: 0px 4px 20px 0px rgba(30, 214, 183, 0.9); */
		margin: 0px 17px 0px 10px;
		padding: 5px 0px 5px 10px;
        text-decoration: none;
        font-size: 25px;
        /* color: #000000; */
        display: block;
        transition: 0.3s;  
	    background-color: transparent;
		border-radius: 5px;
	  }
	  		
	  .iconProfile{
	    font-size: 30pt;
		margin-right: 2px;
        cursor: pointer;
		background-color: #FFFFFF;
		border: none;
		color: #3BDDAC;
	  }
	  
	  .iconProfile:hover {
	    color: #1DAD4A;
	  }
	  
	  .namaPeg{
        font-size: 16pt;
        font-weight: bold;
        color: #655967;
        font-family: arial;
      }
      .email{
        font-size: 14pt;
        color: #7C6E7F;
        font-family: arial;
      }
      
	  #main {
        transition: margin-left .5s;
        padding: 12px 40px 10px 35px;
      }
	  
	  #logout{
		position: relative;
		font-size: 20px;
		background-color: rgb(250 250 250 / 1%);
        cursor: pointer;
		color: #000000;
		text-decoration: none;
		margin-top: 20px;
	  }

	  .pilihan{
	    text-decoration: none;
        font-size: 25px;
        display: block;
        transition: 0.3s;
	  }
	  
	  .pilihan:hover {
		margin-left: 15px;
      }
	  
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
        .tabelRunning{font-size: 50%}
      }
	  